.app.dark {
    --bg-color: #3E23A4FF;
    --inverted-bg-color: #7eebc2;
    --primary-color: green;
    --secondary-color: #0ace0a;
    --inverted-primary-color: #2a2881;
    --inverted-secondary-color: #4187ac;
}