.app.normal {
    --bg-color: #7eebc2;
    --inverted-bg-color: #3E23A4FF;
    --primary-color: #2a2881;
    --secondary-color: #4187ac;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;
}

body {
    --bg-color: #7eebc2;
}